.fade {
  &-enter-active {
    animation: fadeIn $animation-time-03 $animation-easing;
  }
  &-leave-active {
    animation: fadeIn $animation-time-02 $animation-easing reverse;
  }
}

.fade-in {
  &-enter-active {
    animation: fadeIn $animation-time-03 $animation-easing;
  }
  &-leave-active {
    animation: fadeIn $animation-time-02 $animation-easing reverse;
  }
}

.modal-default {
  will-change: transform;

  &-enter-active {
    animation: scaleIn $animation-time-03 $animation-easing;
  }
  &-leave-active {
    animation: scaleIn $animation-time-02 $animation-easing reverse;
  }
}

.modal-right {
  will-change: transform;

  &-enter-active {
    animation: moveRight $animation-time-03 $animation-easing;
  }
  &-leave-active {
    animation: moveRight $animation-time-02 $animation-easing reverse;
  }
}

.modal-bottom {
  will-change: transform;

  &-enter-active {
    animation: moveBottom $animation-time-03 $animation-easing;
  }
  &-leave-active {
    animation: moveBottom $animation-time-02 $animation-easing reverse;
  }
}
