* {
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  user-select: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  font-family: avenir-next-cyr, 'cursive';
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}
a {
  text-decoration: none;
}
