@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveDown {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 250px;
  }
}

@keyframes sliceDown {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 300px;
  }
}


@keyframes preloader {
  0% {
    transform: rotate(0) scale(0.8);
    opacity: 1;
  }
  50% {
    transform: rotate(-180deg) scale(1);
    opacity: 0.5;
  }
  100% {
    transform: rotate(-360deg) scale(0.8);
    opacity: 1;
  }
}
